.container-fluid{
    margin: 0 !important;
    padding: 0 !important;
}
/* 后台管理框架的样式 */
a:active,a:hover,a:before,a:after{

}
.pageContainer > .pageSidebar >ul > li > a{
    color:#f8f8f8;
}
.pageContainer > .pageSidebar >ul > li > a:hover{
    color:#0f0f0f;
}
.clearDefaultStyle{
    margin-left: 20px;
    font-family: '幼圆';
    text-decoration: none !important;
    color: #f8f8f8 !important;
}
.bottom8Px{
    margin-bottom: 8px;
}
    /* 下拉菜单和导航 */
.navbar-collapse{
    padding-left: 5px;
    padding-right: 5px;
}
.nav>li{
    text-align: center;
}
.nav>li>a{
    color:#444;
    margin: 0 5px;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
    background-color: #3399cc; /*#222*/
}
.navbar-blue{
    background-color: #339acc;
}
.dropdown-menu{
    float: none;
    position: initial;
    min-width: 200px;
    margin-left: 0;
    background-color: #E3E3E3;
    box-shadow: none;
    text-align: center;
}
.dropdown-menu>li>a{
    padding: 10px 15px;
}

/* 主体样式 */
body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #FFFFFF;
    overflow-x: hidden;
    font-family: "Microsoft YaHei", sans-serif;
}
.pageSidebar{
    width: 240px;
    height:100%;
    padding-bottom: 30px;
    overflow: auto;
    background-color: #0f0f0f;
}
.splitter {
    width: 3px;
    position: absolute;
    height: 100%;
    bottom: 0;
    left: 240px;
    overflow: hidden;
    background-color: #c0c0c0;
}
.pageContent{
    height: 100%;
    min-width: 768px;
    left: 246px;
    top: 0;
    right: 0;
    z-index: 3;
    /*padding-bottom: 30px;*/
    position: absolute;
}
.pageContainer{
    bottom: 0;
    left:0;
    right: 0;
    top: 51px;
    overflow: hidden;
    position: absolute;
    width: 100%;
}
/*
.footer {
    width: 100%;
    color: #f8f8f8;
    height: 30px;
    line-height: 30px;
    margin-top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: 10;
    background-color:#0f0f0f;
}
 */