<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Will的博客</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="../../css/bootstrap.css" rel="stylesheet">
    <link href="../../../css/iconfont.css" rel="stylesheet" type="text/css"/>
    <link href="../../../css/dropify.min.css" rel="stylesheet" type="text/css"/>
    <link href="../../../css/writeArtical.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div id="artical">
    <div class="container-fluid">
        <div class="writeContent">
            <div class="writeHeader">
                <h3><span class="iconfont icon-bokeyuan writeIcon" style="margin-right: 4px"></span>文章编辑</h3>
            </div>
            <div class="writeCategory">
                <form id="articalContent" action="/" method="post">
                    <div class="formElement">
                        <label for="articalTitle"><h4><strong>标题</strong></h4></label>
                         <input type="text" id="articalTitle" class="form-control" placeholder="在这里输入文章的标题" name="articalTitle" />
                     </div>
                    <div class="formElement">
                        <label for="articalIntroduce"><h4><strong>文章介绍</strong></h4></label>
                        <textarea class="form-control" id="articalIntroduce" placeholder="在这里输入您本文章的介绍，本内容用于首页展示" name="articalIntroduce" rows="4"></textarea>
                    </div>
                    <div class="formElement">
                        <div class="input-group" style="width: 50%">
                            <input type="file" name="picIntroduceUpload" id="input-file-now" class="dropify"data-height="200"
                                   data-max-file-size="3M" placeholder="请点击右侧上传按钮，选择您需要的图片或图片地址" />
                        </div>
                    </div>
                    <div class="formElement">
                        <label for="editor"><h4><strong>正文</strong></h4></label>
                        <div id="editor">
                            <p>输入文章内容...</p>
                        </div>
                        <input type="hidden" readonly="readonly" id="content_text">
                    </div>
                    <div class="formElement">
                        <label for="articalType"><h4><strong>分类</strong></h4></label>
                        <select id="articalType" name="articalType" class="form-control">
                            <option>Java</option>
                            <option>Php</option>
                            <option>Python</option>
                            <option>C++</option>
                        </select>
                    </div>
                    <div class="formElement">
                        <label for="articalAuth"><h4><strong>文章状态</strong></h4></label>
                        <select id="articalAuth" name="articalAuth" class="form-control">
                            <option>公开</option>
                            <option>私密</option>
                            <option>草稿</option>
                        </select>
                    </div>
                    <div class="formElement">
                        <div><input type="checkbox" id="isDenyComment" name="isDenyComment" /><label for="isDenyComment">禁止评论</label></div>
                        <div><input type="checkbox" id="isSubmitTop" name="isSubmitTop" /><label for="isSubmitTop">置顶申请</label></div>
                    </div>
                    <div class="formElement">
                        <button type="button" class="btn btn-primary" onclick="getValuee();">提交审核</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
    <script src="../../../js/jquery-2.1.1.js"></script>
    <script type="text/javascript" src="../../../js/wangEditor.min.js"></script>
    <script type="text/javascript" src="../../../js/dropify.min.js"></script>
    <script src="https://raw.github.com/leizongmin/js-xss/master/dist/xss.js"></script>
<script type="text/javascript" src="../../../js/writeArtical.js" ></script>
</body>
</html>