<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Will的博客</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="../../css/bootstrap.css" rel="stylesheet">
    <link href="../../css/iconfont.css" rel="stylesheet" type="text/css"/>
    <link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="../../css/jquery.mCustomScrollbar.min.css" rel="stylesheet" type="text/css"/>
    <link href="../../css/custom.css" rel="stylesheet" type="text/css"/>
    <link href="../../css/background.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div class="container-fluid">
        <div class="pageContainer">
            <!-- 正文内容部分-->
            <div class="pageContent">
                <iframe src="/backBase" id="mainFrame" name="mainFrame"
                        frameborder="0" width="100%"  height="100%" style="overflow-y: scroll;">
                </iframe>
            </div>
            <div id="floatNav" class="page-wrapper">
                <nav id="sidebar" class="sidebar-wrapper">
                    <div class="sidebar-content">
                        <a href="#" id="toggle-sidebar" onclick="toggleNav()"><i class="fa fa-bars"></i></a>
                        <div class="sidebar-brand">
                            <a href="#">Wills博客管理</a>
                        </div>
                        <div class="sidebar-header">
                            <div class="user-pic">
                                <!--../../pic/user.jpg-->
                                <img class="img-responsive img-rounded" src="../../articalPic/little_animal_18.png" alt="">
                            </div>
                            <div class="user-info">
                                <span class="user-name"><strong>Wills</strong></span>
                                <span class="user-role">管理员</span>
                                <div class="user-status">
                                    <a href="#"><span class="label label-success">Online</span></a>
                                </div>
                            </div>
                        </div><!-- sidebar-header  -->
                        <div class="sidebar-search">
                            <div>
                                <div class="input-group">
                                    <input type="text" class="form-control search-menu" placeholder="搜索....">
                                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                </div>
                            </div>
                        </div><!-- sidebar-search  -->
                        <div class="sidebar-menu">
                            <ul>
                                <li class="header-menu"><span>功能菜单</span></li>
                                <li><a href="/backBase" target="mainFrame"><i class="fa fa-tv"></i><span>后台首页</span></a></li>
                                <li class="sidebar-dropdown">
                                    <a href="#"><i class="fa fa-photo"></i><span>文章管理</span><!--<span class="badge">3</span>--></a>
                                    <div class="sidebar-submenu">
                                        <ul>
                                            <li><a href="/writeArtical" target="mainFrame">新建文章 <!--<span class="badge">3</span>--></a></li>
                                            <li><a href="/manageArtical" target="mainFrame">文章管理</a></li>
                                            <li><a href="/setArticalStatus" target="mainFrame">文章审核</a></li>
                                            <li><a href="/manageArticalCache" target="mainFrame">文章缓存管理</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="sidebar-dropdown">
                                    <a  href="#" ><i class="fa fa-tv"></i><span>系统管理</span><!-- <span class="label label-danger">New</span>--></a>
                                    <div class="sidebar-submenu">
                                        <ul>
                                            <li><a href="/userManage" target="mainFrame">用户管理<span class="label label-success">10</span></a> </li>
                                            <li><a href="/fileManage" target="mainFrame">附件管理</a></li>
                                            <li><a href="/websiteSettings" target="mainFrame">网站设置</a></li>
                                            <li><a href="/operationLog" target="mainFrame">操作日志</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="sidebar-dropdown">
                                    <a href="#"><i class="fa fa-bar-chart-o"></i><span>个人设置</span></a>
                                    <div class="sidebar-submenu">
                                        <ul>
                                            <li><a href="/password" target="mainFrame">修改密码</a></li>
                                            <li><a href="/userInfo" target="mainFrame">查看个人信息</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="sidebar-dropdown">
                                    <a href="#"><i class="fa fa-diamond"></i><span>其他管理</span></a>
                                    <div class="sidebar-submenu">
                                        <ul>
                                            <li><a href="/pageManage" target="mainFrame">页面管理</a></li>
                                            <!--<li><a href="/categoryManage" target="mainFrame">分类管理</a></li>-->
                                            <li><a href="/commonManage" target="mainFrame">评论管理</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="header-menu"><span>其他功能</span></li>
                                <li><a href="/logout" target="_self"><i class="fa fa-power-off"></i><span>退出系统</span></a></li>
                            </ul>
                        </div><!-- sidebar-menu  -->
                    </div><!-- sidebar-content  -->
                </nav><!-- sidebar-wrapper  -->
                <main class="page-content">
                    <div class="container-fluid">
                        <!-- 这里放置页面内容-->
                    </div>
                </main><!-- page-content" -->
            </div>
        </div>
        <!-- 底部页脚部分
        <div class="footer">
            <p class="text-center" style="margin: 0">
                2019 &copy; Wills. 我们总是不珍惜旁边的事物，直到失去了才会抱头痛哭，珍惜眼前吧。 图图不疼了哈，我带你回家。
            </p>
        </div>-->
    </div>

<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="../../js/jquery-2.1.1.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="../../js/custom.js"></script>
<script src="../../js/iconfont.js"></script>
<script src="../../js/background.js"></script>
</body>
</html>