<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Will的博客</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../../css/iconfont.css" rel="stylesheet" type="text/css"/>
    <link href="../../../css/dropify.min.css" rel="stylesheet" type="text/css"/>
    <link href="../../../css/pageManage.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div id="pageManage" class="container-fluid">
        <div class="writeHeader" style=" border-bottom: 2px solid #e0e0e0;margin-bottom: 10px">
            <h3><span class="iconfont icon-bokexinwen" style="font-size: 24px;margin-right: 4px"></span>页面管理</h3>
        </div>
        <div class="pageManage">
            <table class="table table-striped table-hover">
                <tr>
                    <td>ID</td>
                    <td>作者</td>
                    <td>标题</td>
                    <td>日期</td>
                    <td>页面URL</td>
                    <td>操作</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Wills</td>
                    <td>JAVA</td>
                    <td>2019-8-6 18:00</td>
                    <td>/JAVA</td>
                    <td>
                        <a href="#" class="iconfont icon-xiangqing" style="margin-right: 8px" title="编辑"></a>
                        <a href="#" class="iconfont icon-close-circle" title="删除"></a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
<script src="../../../js/jquery-2.1.1.js"></script>
</body>
</html>