<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Will的博客</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="../../css/bootstrap.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../../css/loginAndRegist.css">
    <link href="../../css/animations.css" rel="stylesheet" type="text/css"/>
    <link href="../../css/noticejs.css" rel="stylesheet" type="text/css"/>
    <link href="../../css/main.css" rel="stylesheet" type="text/css"/>
    <link href="../../css/iconfont.css" rel="stylesheet" type="text/css"/>
    <base target="_self">
</head>
<body>
    <!--header-->
    <header id="header">
        <div class="container">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Wills的博客</a>
                    </div>
                    <div class="collapse navbar-collapse" id="menu">
                        <ul class="nav navbar-nav animated category" data-animation="flipInX">
                            <li class="active"><a href="/" target="_self">主页<span class="sr-only">(current)</span></a></li>
                            <li><a href="#">最新文章</a></li>
                            <li><a href="#">热门文章</a></li>
                            <li class="dropdown">
                                <a href="#" data-toggle="dropdown">文章分类<span class="caret"></span></a>
                                <ul id="headerGuide" class="dropdown-menu">
                                    <li><a href="#">学习E站</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">资料分享</a></li>
                                    <li role="separator" class="divider"></li>
                                </ul>
                            </li>
                            <li class="visible-lg visible-md"><a href="/comment" target="_self">留言板</a></li>
                        </ul>
                        <form class="navbar-form navbar-left" method="get" action="/search" target="_blank">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="在这里输入您想搜索的内容">
                            </div>
                            <button type="submit" class="btn btn-default">搜索</button>
                        </form>
                        <ul class="nav navbar-nav navbar-right animated category" data-animation="fadeIn">
                            <nav th:if="${session.user} ==null" class="main-nav" id="loginBtn">
                                <ul>
                                    <li><a id="loginAddr" class="cd-signin" href="#0" onclick="setVaptchaContainer('vaptchaContainer1','02')">登陆</a></li>
                                </ul>
                            </nav>
                            <!--TODO 想办法使用户做的每一步操作都更新cookie的存活时间，或者修改相关登陆验证逻辑！这是个很大的BUG-->
                                <li class="hidden-sm hidden-xs user-img" id="userIcon"><img src="../../pic/pic5.jpg" alt="用户头像" class="img-circle"></li>
                                <li class="dropdown hidden-sm" id="userOptions">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <span id="setUserName">用户昵称</span>
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#" target="_self">用户资料</a></li>
                                        <li><a href="#" target="_self">安全设置</a></li>
                                        <li><a href="#" target="_self">文章管理</a></li>
                                        <li role="separator" class="divider"></li>
                                        <!--TODO 想办法将拥有访问权限的用户才能使用后台管理-->
                                        <li><a href="/background" target="_self">后台管理</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="#" onclick="logout()">安全退出</a></li>
                                    </ul>
                                </li>
                        </ul>
                        <div class="cd-user-modal"> <!-- this is the entire modal form, including the background -->
                            <div class="cd-user-modal-container"> <!-- this is the container wrapper -->
                                <ul class="cd-switcher">
                                    <li><a href="#0">登陆</a></li>
                                    <li><a href="#0" onclick="setVaptchaContainer('vaptchaContainer2','01')">注册</a></li>
                                </ul>

                                <div id="cd-login"> <!-- log in form -->
                                    <form id="login-form" class="cd-form form-inline" action="/user/login">
                                        <p class="fieldset">
                                            <label class="image-replace cd-username" for="signin-userName">账号</label>
                                            <input name="userName" class="full-width has-padding has-border" id="signin-userName"
                                                   type="email" placeholder="账号" onkeyup="checkInputValueLength(this.value,'loginUserNameWarning')">
                                            <span class="cd-error-message loginUserNameWarning">请输入账号!</span>
                                        </p>

                                        <p class="fieldset">
                                            <label class="image-replace cd-password" for="signin-password">密码</label>
                                            <input name="password" class="full-width has-padding has-border" id="signin-password"
                                                   type="password" placeholder="密码" onkeyup="checkInputValueLength(this.value,'loginPwdWarning')">
                                            <a href="#0" class="hide-password">显示</a>
                                            <span class="cd-error-message loginPwdWarning">请输入密码!</span>
                                        </p>

                                        <!--验证码模块嵌入-->
                                        <p class="fieldset">
                                        <div id="vaptchaContainer1" class="full-width has-padding has-border">
                                            <div class="vaptcha-init-main">
                                                <!--验证码加载-->
                                                <div class="vaptcha-init-loading">
                                                    <a href="https://www.vaptcha.com" target="_blank">
                                                        <img src="https://cdn.vaptcha.com/vaptcha-loading.gif"/>
                                                    </a>
                                                    <span class="vaptcha-text">人机验证启动中...</span>
                                                </div>
                                            </div>
                                        </div>
                                        </p>
                                        <p class="fieldset">
                                            <input name="vaptchaCode" type="text" id="vaptchaCode1" value="" hidden>
                                        </p>
                                        <!--/验证码模块嵌入-->

                                        <p class="fieldset">
                                            <input name="remember" type="checkbox" id="remember-me" checked value="1">
                                            <label for="remember-me">记住我</label>
                                        </p>

                                        <p class="fieldset">
                                            <input class="full-width submit" type="button" value="登陆" id="login"
                                                   onclick="loginAccount(document.referrer)">
                                        </p>
                                        <p class="fieldset">
                                            <input class="full-width reset" type="reset" value="重置">
                                        </p>
                                    </form>

                                    <p class="cd-form-bottom-message"><a href="#0"
                                                                         onclick="setVaptchaContainer('vaptchaContainer3','04')">忘记密码？</a>
                                    </p>
                                    <!-- <a href="#0" class="cd-close-form">Close</a> -->
                                </div> <!-- cd-login -->

                                <div id="cd-signup"> <!-- sign up form -->
                                    <form class="cd-form" id="regist">
                                        <p class="fieldset">
                                            <label class="image-replace cd-username" for="signup-username">用户名</label>
                                            <input name="userName" class="full-width has-padding has-border" id="signup-username"
                                                   type="text" placeholder="用户名" onkeyup="checkInputValueLength(this.value,'regUserName')">
                                            <span class="cd-error-message regUserName">请输入要注册的用户名!</span>
                                        </p>

                                        <p class="fieldset">
                                            <label class="image-replace cd-password" for="password">密码</label>
                                            <input name="password" class="full-width has-padding has-border" id="password"
                                                   type="password" placeholder="密码" onkeyup="checkInputValueLength(this.value,'regPwd')">
                                            <a href="#0" class="hide-password">显示</a>
                                            <span class="cd-error-message regPwd">请输入注册用户的密码!</span>
                                        </p>

                                        <p class="fieldset">
                                            <label class="image-replace cd-password" for="confirmPassword">确认密码</label>
                                            <input name="confirmPwd" class="full-width has-padding has-border"
                                                   id="confirmPassword" type="password" placeholder="确认密码" onkeyup="checkInputValueLength(this.value,'regConfirmPwd')">
                                            <a href="#0" class="hide-password">显示</a>
                                            <span class="cd-error-message regConfirmPwd">请输入确认密码!</span>
                                        </p>

                                        <p class="fieldset">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <select class="form-control" name="sex">
                                                    <option value="1">男</option>
                                                    <option value="0">女</option>
                                                    <option value="2">保密</option>
                                                </select>
                                            </div>
                                        </div>
                                        </p>

                                        <p class="fieldset">
                                            <input name="phone" class="form-control full-width has-padding has-border"
                                                   id="signup-phone" type="text" placeholder="请输入您的手机号" oninput="this.value=value.replace(/[^\d]/g,'')" onkeyup="checkInputValueLength(this.value,'regPhone')">
                                            <span class="cd-error-message regPhone">请您输入注册的手机号!</span>
                                        </p>

                                        <p class="fieldset">
                                            <input readonly name="birthday" class="form-control full-width has-padding has-border"
                                                   id="birthday" type="date" placeholder="点击这里开始填写生日" onclick="chooseBirthday()" onkeyup="checkInputValueLength(this.value,'regBirthday')">
                                            <span class="cd-error-message regBirthday">请您填写生日日期!</span>
                                        </p>

                                        <p class="fieldset">
                                        <div class="input-group">
                                            <input name="email" class="form-control full-width has-padding has-border"
                                                   id="email" type="email" placeholder="邮箱" onkeyup="checkInputValueLength(this.value,'regEmail')">
                                            <span class="input-group-btn">
                                        <button class="btn btn-default" type="button" onclick="sendAuthCode(this,30000)">发送验证码</button>
                                    </span>
                                            <span class="cd-error-message regEmail">请输入您的邮箱以便接收验证码!</span>
                                        </div>
                                        </p>

                                        <p class="fieldset">
                                            <input name="activationCode" class="form-control full-width has-padding has-border"
                                                   id="activeCode" type="text" placeholder="验证码" oninput="this.value=value.replace(/[^\d]/g,'')" onkeyup="checkInputValueLength(this.value,'regAuthCode')">
                                            <span class="cd-error-message regAuthCode">请您输入验证码!</span>
                                        </p>

                                        <!--验证码模块嵌入-->
                                        <p class="fieldset">
                                        <div id="vaptchaContainer2" class="full-width has-padding has-border">
                                            <div class="vaptcha-init-main">
                                                <div class="vaptcha-init-loading">
                                                    <a href="https://www.vaptcha.com" target="_blank">
                                                        <img src="https://cdn.vaptcha.com/vaptcha-loading.gif"/>
                                                    </a>
                                                    <span class="vaptcha-text">人机验证启动中...</span>
                                                </div>
                                            </div>
                                        </div>
                                        </p>
                                        <p class="fieldset">
                                            <input name="vaptchaCode" type="text" id="vaptchaCode2" value="" hidden>
                                        </p>
                                        <!--//验证码-->

                                        <p class="fieldset">
                                            <input name="agreement" type="checkbox" id="accept-terms" checked>
                                            <label for="accept-terms">我同意<a href="#0" onclick="tips('此条款拟定中，暂时默认选择，上线后会以邮件的形式发送给您，抱歉！','middleCenter')">条款</a></label>
                                        </p>

                                        <p class="fieldset">
                                            <input id="subReg" class="full-width has-padding submit" type="button" value="注册"
                                                   onclick="regist()">
                                        </p>
                                        <p class="fieldset">
                                            <input class="full-width reset" type="reset" value="重置">
                                        </p>
                                    </form>
                                </div> <!-- cd-signup -->

                                <div id="cd-reset-password"> <!-- reset password form -->
                                    <p class="cd-form-message">忘记密码? 在这里填入您要找回的账号及邮箱地址. 您将会收到一封重置密码的邮件.</p>

                                    <form id="forget-form" class="cd-form">
                                        <p class="fieldset">
                                            <label class="image-replace cd-username" for="reset-email">账号</label>
                                            <input name="userName" class="full-width has-padding has-border" type="text"
                                                   placeholder="要找回的账号">
                                            <span class="cd-error-message">错误提示信息!</span>
                                        </p>
                                        <p class="fieldset">
                                            <label class="image-replace cd-email" for="reset-email">邮箱</label>
                                            <input name="email" class="full-width has-padding has-border" id="reset-email"
                                                   type="email" placeholder="邮箱">
                                            <span class="cd-error-message">错误提示信息!</span>
                                        </p>

                                        <!--验证码模块嵌入-->
                                        <p class="fieldset">
                                        <div id="vaptchaContainer3" class="full-width has-padding has-border">
                                            <div class="vaptcha-init-main">
                                                <div class="vaptcha-init-loading">
                                                    <a href="https://www.vaptcha.com" target="_blank">
                                                        <img src="https://cdn.vaptcha.com/vaptcha-loading.gif"/>
                                                    </a>
                                                    <span class="vaptcha-text">人机验证启动中...</span>
                                                </div>
                                            </div>
                                        </div>
                                        </p>
                                        <p class="fieldset">
                                            <input name="vaptchaCode" type="text" id="vaptchaCode3" hidden>
                                        </p>
                                        <!--//验证码-->

                                        <p class="fieldset">
                                            <input class="full-width has-padding submit" type="submit" value="重置密码"
                                                   onclick="resetPwd()">
                                        </p>
                                        <p class="fieldset">
                                            <input class="full-width reset" type="reset" value="重置">
                                        </p>
                                    </form>

                                    <p class="cd-form-bottom-message"><a href="#0">返回登陆</a></p>
                                </div> <!-- cd-reset-password -->
                                <a href="#0" class="cd-close-form">关闭</a>
                            </div> <!-- cd-user-modal-container -->
                        </div> <!-- cd-user-modal -->

                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!--/header-->
    <!--轮播图-->
    <section id="picScroll" class="">
        <div class="container">
            <div id="ad" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#ad" data-slide-to="0" class="active"></li>
                    <li data-target="#ad" data-slide-to="1"></li>
                    <li data-target="#ad" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="../../pic/pic1.jpg" alt="..." style="width: 100%;" />
                        <div class="carousel-caption">
                            <div class="jumbotron visible-lg visible-md">
                                <h1>Java发展态势</h1>
                                <p>
                                    近些年的技术圈，单以计算机语言界来说，稳坐第一把太师椅的 Java “或将被取代”、迎接转折点、Java 项目工程师风光不再等言论不绝于耳。在焦虑的大环境下，所有人好像都看起来很焦虑不安。
                                </p>
                            </div>
                            <div class="visible-xs visible-sm"><p>Java发展态势</p></div>
                        </div>
                    </div>
                    <div class="item">
                        <img src="../../pic/pic2.jpg" alt="..." style="width: 100%;" />
                        <div class="carousel-caption">
                            <div class="jumbotron visible-lg visible-md">
                                <h1>PHP介绍</h1>
                                <p>
                                    PHP（外文名:PHP: Hypertext Preprocessor，中文名：“超文本预处理器”）是一种通用开源脚本语言。语法吸收了C语言、Java和Perl的特点，利于学习，使用广泛，主要适用于Web开发领域。
                                </p>
                            </div>
                            <div class="visible-xs visible-sm"><p>PHP介绍</p></div>
                        </div>
                    </div>
                    <div class="item">
                        <img src="../../pic/pic3.jpg" alt="..." style="width: 100%;" />
                        <div class="carousel-caption">
                            <div class="jumbotron visible-lg visible-md">
                                <h1>Python介绍</h1>
                                <p>
                                    Python是一种计算机程序设计语言。是一种面向对象的动态类型语言，最初被设计用于编写自动化脚本(shell)，随着版本的不断更新和语言新功能的添加，越来越多被用于独立的、大型项目的开发。
                                </p>
                            </div>
                            <div class="visible-xs visible-sm"><p>Python介绍</p></div>
                        </div>
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#ad" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">上一张</span>
                </a>
                <a class="right carousel-control" href="#ad" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">下一张</span>
                </a>
            </div>
        </div>
    </section>
    <!--/轮播图-->
    <!--友情链接-->
    <section id="link" class="hidden-sm hidden-xs">
        <div class="container">
            <div class="link-tables">
                <em></em>
                <div class="link_tip"><h4 class="text-left">友情链接</h4></div>
                <div class="link_table">
                    <div class="pull-left"><a href="https://github.com/get2bad" target="_blank">Github</a ></div>
                    <div class="pull-left"><a href="#">BiliBili</a ></div>
                    <div class="pull-left"><a href="#">友情链接3</a ></div>
                    <div class="pull-left"><a href="#">友情链接4</a ></div>
                    <div class="pull-left"><a href="#">友情链接5</a ></div>
                    <div class="pull-left"><a href="#">友情链接6</a ></div>
                </div>
            </div>
        </div>
    </section>
    <!--/友情链接-->
    <!--footer-->
    <footer id="footer">
        <div class="container">
            <div class="tips text-center"><a href="javascript:about();" target="_blank" style="margin-right: 20px">关于我们</a>
                <a href="mailto:loveing490@qq.com" target="_blank" style="margin-right: 20px">联系我们</a>
                <a href="javascript:advertisement();" target="_blank" style="margin-right: 20px">广告合作</a>
                <a href="javascript:disclaimer();" target="_blank">免责声明</a>
            </div>
            <!--备案号声明-->
            <div><p class="text-center">Wills   鲁ICP备17045047号</p></div>
        </div>
    </footer>
    <!--/footer-->

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="../../js/jquery-2.1.1.js"></script>
    <!--引入jquery.cookie插件-->
    <script src="../../js/jquery.cookie.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/jquery.bootstrap-dropdown-on-hover.js"></script>
    <!--引用自己的js文件-->
    <script src="../../js/moment.js"></script>
    <script src="../../js/notice.js"></script>
    <!--日期选择插件引用-->
    <script src="../../js/rolldate.js"></script>
    <!--基本配置信息设置-->
    <script src="../../js/baseInfo.js"></script>
    <!--基本的登陆注册找回密码的js文件-->
    <script src="https://cdn.vaptcha.com/v2.js"></script>
    <script src="../../js/UserBaseOptions.js"></script>
    <script src="../../js/getUserInfo.js"></script>
    <script src="../../js/loginAndRegist.js"></script>
    <script src="../../js/modernizr.js"></script>
    <script src="../../js/iconfont.js"></script>
    <script src="../../js/main.js"></script>
    <!--<script src="../../js/batsCursor.js"></script>-->
</body>
</html>