<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Will的博客</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/animations.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/main.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/content.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/comment.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/iconfont.css}" type="text/css"/>
    <link href="../../../css/noticejs.css" rel="stylesheet" type="text/css"/>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../../css/loginAndRegist.css">
</head>
<body>
<!--header-->
<header id="header" th:replace="public/header :: #header"></header>
<!--/header-->
<!--内容页面-->
<section id="pageContent">
    <div class="container">
        <ol class="breadcrumb">
           <span class="sourceTips hidden-xs">您当前位置</span>
           <li><a href="#">主页</a></li>
           <li><a href="#">JAVA</a></li>
           <li class="active">热门文章</li>
        </ol>
        <div class="row">
            <div class="col-md-9">
                <!--左边文章内容-->
                <div class="content-left" style="display: none">
                    <div class="articalContent">
                        <div class="contentTitle text-center">
                            <h1 th:text="${artical.articalTitle}"></h1>
                            <i id="articalId" th:text="${artical.articalId}" style="display: none"></i>
                            <div class="infoTips" style="margin-top: 15px">
                                <i class="iconfont icon-bokeyuan" th:text="${artical.categoryName}"></i>
                                <i class="iconfont icon-reloadtime  hidden-xs" th:text="${artical.postTime}"></i>
                                <i class="iconfont icon-yanjing" th:text="${artical.viewCount}"></i>
                                <!--//TODO 评论功能-->
                                <i class="iconfont icon-ziyuan">评论暂未实现</i>
                            </div>
                        </div>
                        <p class="contentInfo"  th:utext="${artical.articalContent}">

                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <!--右边评论区-->
                <div class="content-right"  style="display: none">
                    <div class="articalCommon" id="commentPanel">
                        <div class="commonTitle text-center"><h4>评论区</h4></div>
                        <!--评论区内容-->

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9 commentContentDiv">
                <div class="commentTitle" style="margin-top: 10px">评论</div>
                <div class="commentCommit">
                    <form role="form" action="/artical/comment" method="post">
                        <div class="input-group">
                            <input name="articalId" type="text" style="display: none" th:value="${artical.articalId}">
                            <textarea name="comment" id="comment" class="form-control" rows="6" cols="120%" placeholder="在这里您可以畅所欲言，说出您想说的话"></textarea>
                            <button type="button" class="btn btn-default subComment" th:onclick="submitComment([[${artical.articalId}]]);">提交</button>
                        </div><!-- /input-group -->
                    </form>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</section>
<!--/内容页面-->
<!--友情链接-->
<section id="link" th:replace="public/public :: #link"></section>
<!--/友情链接-->
<!--页脚-->
<footer id="footer" th:replace="public/public :: #footer"></footer>
<!--/页脚-->

<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="../../../js/jquery-2.1.1.js"></script>
<script src="../../../js/jquery.bootstrap-dropdown-on-hover.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="../../../js/bootstrap.min.js"></script>
<script src="../../../js/jquery.cookie.js"></script>
<script src="https://cdn.vaptcha.com/v2.js"></script>
<script src="../../../js/notice.js"></script>
<!--日期选择插件引用-->
<script src="../../../js/rolldate.js"></script>
<!--引用自己的js文件-->
<!--<script src="../../js/main.js"></script>-->
<script src="../../../js/baseInfo.js"></script>
<script src="../../../js/getUserInfo.js"></script>
<script src="../../../js/UserBaseOptions.js"></script>
<script src="../../../js/content.js"></script>
<script src="../../../js/loginAndRegist.js"></script>
<script src="../../../js/modernizr.js"></script>
<script src="../../../js/iconfont.js"></script>
<!--<script src="../../js/batsCursor.js"></script>-->
</body>
</html>