<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>出错了。。。。</title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/animations.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/main.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/iconfont.css}" type="text/css"/>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" th:href="@{/css/loginAndRegist.css}">
</head>
<body>
<!--header-->
<header id="header" th:replace="public/public :: #header"></header>
<!--errorMsg-->
<section id="errorMsg">
    <div class="container" style="background-color: white">
        <div class="text-center" style="padding-top: 45px">
            <div>
                <p>
                    <h1 th:text="${errorTitle}" th:if="${errorTitle !=null}"></h1>
                </p>
                <p>
                    <h1 th:if="${errorTitle ==null}">对不起，出了点错误~！</h1>
                </p>
            </div>
            <div style="margin-top: 20px">
                <p>
                    <h3 th:if="${errorMsg !=null}" th:text="${errorMsg}"></h3>
                </p>
                <p>
                    <h3 th:if="${errorTitle ==null}">该错误已经上报管理员，管理员会尽快处理，请您谅解，如果有特别着急的需求，
                    <a href="mailto:loveing490@qq.com" style="color: red;text-decoration: underline">请您联系本人邮箱</a></h3>
                </p>
            </div>
        </div>
    </div>
</section>
<!--友情链接-->
<section id="link" th:replace="public/public :: #link"></section>
<!--/友情链接-->
<!--页脚-->
<footer id="footer" th:replace="public/public :: #footer"></footer>
<!--/页脚-->
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="../../js/jquery-2.1.1.js"></script>
<script src="../../js/jquery.bootstrap-dropdown-on-hover.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="../../js/bootstrap.min.js"></script>
<!--引用自己的js文件
<script src="../../js/moment.js"></script>
<script src="../../js/main.js"></script>-->
<script src="../../js/loginAndRegist.js"></script>
<script src="../../js/modernizr.js"></script>
<script src="../../js/iconfont.js"></script>
<!--<script src="../../js/batsCursor.js"></script>-->
</body>
</html>