<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Will的博客</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="../../../css/bootstrap.css" rel="stylesheet">
    <link href="../../../css/iconfont.css" rel="stylesheet" type="text/css"/>
    <link href="../../../css/animations.css" rel="stylesheet" type="text/css"/>
    <link href="../../../css/noticejs.css" rel="stylesheet" type="text/css"/>
    <link href="../../../css/user.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="container">
    <div id="firefly">
        <!--登录框-->
        <div id="loginForm"  style="display: none;">
            <h3 class="text-center">用户登录</h3>
            <p th:if="${msg} !=null" class="text-center"><b style="color: red;" th:text="${msg}"></b></p>
            <form id="loginFormData" class="form-horizontal" action="/user/loginForm" method="post">
                <div class="form-group">
                    <label for="userName" class="col-sm-2 control-label">用户名</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="userName" name="userName" placeholder="用户名">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-sm-2 control-label">密码</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="password" name="password" placeholder="密码">
                    </div>
                </div>
                <div class="form-group">
                    <span><label for="vaptchaContainer1" class="col-sm-2 control-label">验证码</label></span>
                    <span><div id="vaptchaContainer1" class="col-sm-10 has-padding has-border">
                        <div class="vaptcha-init-main">
                            <!--验证码加载-->
                            <div class="vaptcha-init-loading">
                                <a href="https://www.vaptcha.com" target="_blank">
                                    <img src="https://cdn.vaptcha.com/vaptcha-loading.gif" />
                                </a>
                                <span class="vaptcha-text">人机验证启动中...</span>
                            </div>
                        </div>
                    </div>
                    <input name="vaptchaCode" type="text" id="vaptchaCode1" value="">
                    </span>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox pull-left">
                            <label>
                                <input type="checkbox"> 记住我
                            </label>
                        </div>
                        <a type="button" class="btn btn-link pull-right" href="#" target="_blank">新用户注册</a>
                        <a type="button" class="btn btn-link pull-right" href="#" target="_blank">忘记密码？</a>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10 text-center">
                        <button type="submit" class="btn btn-primary btn-login" onclick="login()">登陆</button>
                        <input type="reset" class="btn btn-danger hidden-xs btn-reset" value="重置"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="../../../js/jquery-2.1.1.js"></script>
<script src="../../../js/firefly.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="../../../js/bootstrap.min.js"></script>
<script src="../../../js/iconfont.js"></script>
<script src="../../../js/baseInfo.js"></script>
<script src="https://cdn.vaptcha.com/v2.js"></script>
<script src="../../../js/notice.js"></script>
<script src="../../../js/user.js"></script>
</body>
</html>